<h1> This the raffle show page </h1>

<h1> This page is going to be revised after logic is completed </h1> 

<h1><%= @raffle.user.first_name %>You have entered the raffle successfully </h1>

<%= link_to "Delete", @raffle, method: :delete, data: { confirm: "Really?" } %>

