<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

<style> 
   
  

    
  
  
    
  </style>
  <h1> Welcome to Sneak A Head </h2>

<p>Where you can take a sneak peak of all the new incoming sneakers and to be the first person to get them </p>
</head>
</html>