<h1> Welcome <%= @user.first_name %> to your show page </h1>

<h1>Account Information </h1>

To view raffles entered 
<h2> link to the users raffles entered </h2>

To edit or delete the raffle entry
<h2> link to edit or delete pages </h2>
