
 <%= link_to "Upcoming Releases", shoes_path %> </br>

<h1> Welcome <%= @user.first_name %> homepage! </h2>



  <h5>To review the raffle entered:  <%= link_to "Your Entries", raffles_path(@user)%> </h5> 
  

 


<h2> link to edit or delete pages </h2>
